<template name="adminCategoriesList">
	<div class="page-header">
		<h1>Categorias</h1>
	</div>

	<div class="list-group">
		{{#each categories}}
			<a href="{{pathFor 'adminCategoryEdit'}}" class="list-group-item">{{name}}</a>
		{{else}}
			<div class="list-group-item">
				Não existem categorias cadastradas
			</div>
		{{/each}}
	</div>

	<hr>
	<a class="btn btn-primary" href="{{pathFor 'adminCategoryNew'}}">Nova</a>

</template>
