<template name="adminCategoryEdit">
	<div class="page-header">
		<h1>Editar categoria <small>{{name}}</small></h1>
	</div>
	<form role="form">
		<div class="form-group">
			<label for="name">Nome</label>
			<input name="name" type="text" value="{{name}}" placeholder="Nome" class="form-control">
		</div>
		<hr>
		<input type="submit" value="Salvar" class="btn btn-primary submit">
		<a type="button" class="btn btn-default" href="{{pathFor 'adminCategoriesList'}}">Voltar</a>
		<button type="button" class="btn btn-danger deletePrompt">Deletar</button>
	</form>

	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Tem certeza que deseja remover a categoria "{{name}}"?</h4>
				</div>
				<div class="modal-body">
					<p>
						<button type="button" class="btn btn-danger delete" data-dismiss="modal">Deletar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
					</p>
				</div>
			</div>

		</div>
	</div>
</template>