<template name="adminCampusNew">
	<div class="page-header">
		<h1>Novo campus</h1>
	</div>
	<form>
		<div class="form-group">
			<label for="name">Nome</label>
			<input name="name" type="text" value="" placeholder="Nome" class="form-control" autofocus>
		</div>
		<hr>
		<input type="submit" value="Salvar" class="btn btn-primary submit">
		<a type="button" class="btn btn-default" href="{{pathFor 'adminCampiList'}}">Voltar</a>
	</form>
</template>
