<template name="adminCampiList">
	<div class="page-header">
		<h1>Campi</h1>
	</div>

	<div class="list-group">
		{{#each campi}}
			<a href="{{pathFor 'adminCampusEdit'}}" class="list-group-item">{{name}}</a>
		{{else}}
			<div class="list-group-item">
				Não existem campi cadastrados
			</div>
		{{/each}}
	</div>

	<hr>
	<a class="btn btn-primary" href="{{pathFor 'adminCampusNew'}}">Novo</a>

</template>
