<template name="reportsList">
    <div class="page-header">
        <h1>Chamados</h1>
    </div>

    <div class="list-group">
        {{#each reports}}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{title}} <span class="{{statusGetIcon status 'glyphicon glyphicon-'}}"></span></h4>
                <div class="list-group-item-text">
                    <div class="row">
                        <div class="col-xs-6 col-md-6"><strong>Tipo:</strong> {{categoryName}} > {{subcategoryName}}</div>
                        <div class="col-xs-6 col-md-6"><strong>Status:</strong> {{status}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6"><strong>Campus:</strong> {{campusName}} / {{roomName}}</div>
                        <div class="col-xs-6 col-md-6"><strong>Atualização:</strong> {{dateFormat updatedAt}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            {{#if itemCode}}
                                <strong>Código:</strong> {{itemCode}}
                            {{/if}}
                        </div>
                    </div>
                    {{#if description}}
                        <p><strong>Descrição:</strong> <em>{{description}}</em></p>
                    {{/if}}
                </div>
            </div>
        {{else}}
            <div class="list-group-item">
                Não existem chamados
            </div>
        {{/each}}
    </div>
</template>
