<template name="reportNew">
	<div class="page-header">
		<h1>Abrir chamado</h1>
	</div>
	<form>
		<div class="form-group">
			<label for="category">Tipo do problema</label>
			<select name="category" class="form-control" autofocus>
				{{#each categories}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="subcategory">Especifique o tipo de item com problema</label>
			<select name="subcategory" class="form-control">
				{{#each subcategories}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="campus">Selecione o campus (se for relevante)</label>
			<select name="campus" class="form-control" autofocus>
				{{#each campi}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="room">Selecione a sala (se for relevante)</label>
			<select name="room" class="form-control" autofocus>
				{{#each rooms}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="description">Título</label>
			<input name="title" class="form-control" value="" placeholder="Ex: Botão esquerdo não funciona">
		</div>

		<div class="form-group">
			<label for="description">Código de identificação (se possuir)</label>
			<input name="itemCode" class="form-control" value="" placeholder="Código de identificação">
		</div>

		<div class="form-group">
			<label for="description">Descreva o problema (em poucas palavras)</label>
			<textarea name="description" rows="4" class="form-control"></textarea>
		</div>

		<div class="form-group">
			<label for="email">E-mail de contato</label>
			<input type="email" name="email" class="form-control">
			<span class="help-block">Você será notificado quando o chamado for resolvido</span>
		</div>

		<hr>
		<button type="submit" class="btn btn-primary submit btn-block">Enviar</button>
	</form>
</template>
