<template name="appLayout">
	<div class="app-container">
		{{> appNavbar}}
		<div class="container-fluid">
			<div class="main">
				{{> yield}}
			</div>
		</div>
	</div>
</template>


<template name="appNavbar">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Alternar navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="sumare-brand" href="{{pathFor 'reportsList'}}"><img src="images/logo.png" alt="Faculdade Sumaré" class='sumare-logo'></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'reportNew'}}"><span class="glyphicon glyphicon-plus"></span> Abrir chamado</a></li>
					<li><a href="{{pathFor 'reportsList'}}"><span class="glyphicon glyphicon-search"></span> Visualizar Chamados</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>


<template name="appLoading">
	<div class="main">
		{{> spinner}}
	</div>
</template>
