
/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}


.sumare-brand {
	float: left;
	padding: 15px;
}

.sumare-logo {
	width: 218px;
	height: 70px;
}

.glyphicon-flag {
	color: #d9534f;
}

.glyphicon-wrench {
	color: #f0ad4e;
}

.glyphicon-ok {
	color: #0089c0;
}
