<template name="adminSubcategoriesList">
	<div class="page-header">
		<h1>Subcategorias</h1>
	</div>

	<div class="list-group">
		{{#each subcategories}}
			<a href="{{pathFor 'adminSubcategoryEdit'}}" class="list-group-item"><small>{{categoryName}}</small> > {{name}}</a>
		{{else}}
			<div class="list-group-item">
				Não existem subcategorias cadastradas
			</div>
		{{/each}}
	</div>

	<hr>
	<a class="btn btn-primary" href="{{pathFor 'adminSubcategoryNew'}}">Nova</a>

</template>
