<template name="adminSubcategoryNew">
	<div class="page-header">
		<h1>Nova subcategoria</h1>
	</div>
	<form>
		<div class="form-group">
			<label for="name">Nome</label>
			<input name="name" type="text" value="" placeholder="Nome" class="form-control">
		</div>

		<div class="form-group">
			<label for="category">Categoria</label>
			<select name="category" class="form-control">
				{{#each categories}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<hr>
		<input type="submit" value="Salvar" class="btn btn-primary submit">
		<a type="button" class="btn btn-default" href="{{pathFor 'adminSubcategoriesList'}}">Voltar</a>
	</form>
</template>