<template name="adminRoomsList">
	<div class="page-header">
		<h1>Salas</h1>
	</div>

	<div class="list-group">
		{{#each rooms}}
			<a href="{{pathFor 'adminRoomEdit'}}" class="list-group-item">{{campusName}} > {{name}}</a>
		{{else}}
			<div class="list-group-item">
				Não existem salas cadastradas
			</div>
		{{/each}}
	</div>

	<hr>
	<a class="btn btn-primary" href="{{pathFor 'adminRoomNew'}}">Nova</a>

</template>
