<template name="adminRoomNew">
	<div class="page-header">
		<h1>Nova sala</h1>
	</div>
	<form>
		<div class="form-group">
			<label for="name">Nome</label>
			<input name="name" type="text" value="" placeholder="Nome" class="form-control" autofocus>
		</div>
		<div class="form-group">
			<label for="category">Campus</label>
			<select name="campus" class="form-control">
				{{#each campi}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<hr>
		<input type="submit" value="Salvar" class="btn btn-primary submit">
		<a type="button" class="btn btn-default" href="{{pathFor 'adminRoomsList'}}">Voltar</a>
	</form>
</template>
