<template name="adminReportEdit">
	<div class="page-header">
		<h1>Chamado</h1>
	</div>
	<form>
		<div class="form-group">
			<label for="description">Título</label>
			<input name="title" class="form-control" value="{{title}}" placeholder="Ex: Botão esquerdo não funciona">
		</div>

		<div class="form-group">
			<label for="campus">Status</label>
			<select name="status" class="form-control" autofocus>
				{{#each statuses}}
					<option value="{{name}}" selected={{selected}}>{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="campus">Campus</label>
			<select name="campus" class="form-control" autofocus>
				{{#each campi}}
					<option value="{{_id}}" selected={{selected}}>{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="room">Sala</label>
			<select name="room" class="form-control" autofocus>
				{{#each rooms}}
					<option value="{{_id}}" selected={{selected}}>{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="category">Tipo do problema</label>
			<select name="category" class="form-control" autofocus>
				{{#each categories}}
					<option value="{{_id}}" selected={{selected}}>{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="subcategory">Tipo de item</label>
			<select name="subcategory" class="form-control">
				{{#each subcategories}}
					<option value="{{_id}}" selected={{selected}}>{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="description">Código de identificação</label>
			<input name="itemCode" class="form-control" value="{{itemCode}}" placeholder="Código de identificação">
		</div>

		<div class="form-group">
			<label for="description">Descrição</label>
			<textarea name="description" rows="4" class="form-control">{{description}}</textarea>
		</div>

		<div class="form-group">
			<label for="email">E-mail de contato</label>
			<input type="email" name="email" class="form-control" value="{{email}}">
		</div>

		<hr>
		<button type="submit" class="btn btn-primary submit">Salvar</button>
		<a type="button" class="btn btn-default" href="{{pathFor 'adminReportsList'}}">Voltar</a>
		<button type="button" class="btn btn-danger deletePrompt">Deletar</button>
	</form>

	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Tem certeza que deseja remover o chamado "{{title}}"?</h4>
				</div>
				<div class="modal-body">
					<p>
						<button type="button" class="btn btn-danger delete" data-dismiss="modal">Deletar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
					</p>
				</div>
			</div>

		</div>
	</div>

</template>
