<template name="adminLayout">
	<div class='admin-container'>
		{{> adminNavbar}}
		<div class="container-fluid">
			<div class="main">
				{{> yield}}
			</div>
		</div>
	</div>
</template>


<template name="adminNavbar">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Alternar navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="sumare-brand" href="{{pathFor 'reportsList'}}"><img src="/images/logo.png" alt="Faculdade Sumaré" class='sumare-logo'></a>
			</div>

			<div class="navbar-collapse collapse">
				{{#if currentUser}}
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'adminCampiList'}}">Campi</a></li>
					<li><a href="{{pathFor 'adminRoomsList'}}">Salas</a></li>
					<li><a href="{{pathFor 'adminCategoriesList'}}">Categorias</a></li>
					<li><a href="{{pathFor 'adminSubcategoriesList'}}">Subcategorias</a></li>
					<li><a href="{{pathFor 'adminReportsList'}}">Chamados</a></li>
				</ul>
				{{/if}}
				<ul class="nav navbar-nav navbar-right">
					{{> loginButtons}}
				</ul>
			</div>

		</div>
	</div>
</template>


<template name="loading">
	<div class="main">
		{{> spinner}}
	</div>
</template>


<template name="accessDenied">
  <div class="alert alert-error">
	<p class="text-center">Para acessar este conteúdo você precisa estar logado.<br>Faça login pelo menu acima.</p></div>
</template>
